body{
	background-color: #d18264;
	font-family: "Ariel", sans-serif;
	

}

h1{
	font-family: "Ariel", sans-serif;
	line-height:1.6;
}

p{

}

.headerBox{
	color: white;
	display: flex;
	align-items: bsl;
	gap: 50px;
	position: fixed;
	background: #A64D3F;
	top: 10px;
	left: 0px;
}

h1 img{
	background-color: #A64D3F;
	padding-left: 10px;
}

img{
	top:0px;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

h1,a{
	display: flex;
	color: white;
	font-family: "Ariel", sans-serif;
	line-height:1.6;
	text-decoration: none;
}

a{
	padding-top: 30px;
	padding: 20px;
	font-size: 24px;
	color: white;
	font-family: "Ariel", sans-serif;
	line-height:1.6;
	text-decoration: none;
}

.welcome{
	padding: 0.5em;
	display: felx;
	text-align: center;
}

.float{
	margin: 15px;
	width: 150px;
	background-color: #A64D3F;
	height: 10px;
}

.float1{
	width: 10%;
	float: left;
}

.float2{

	float: right;
}

offLeft{
	display: block;
	margin-left: 30px;
	font-size: 20px;
}
















